{% if btn-style == "white" %}
    {% assign btn-class = "bg-white border-yellow border-2 text-black hover:text-grey hover:bg-lightgrey" %}
{% elsif btn-style == "black" %}
    {% assign btn-class = "bg-black" %}
{% endif %}

<a href="{{ url }}" class="relative flex items-center {{ btn-class }} {{ extra-class }} font-heading font-light text-[13px] text-base rounded-[40px] py-[15px] px-[25px] text-center tracking-wide uppercase group transition">
    <span class="leading-none mx-auto">{{ text }}</span>
</a>
