
    <div class="mx-auto">
        <div class="w-full">
            <div id="custom-form-wrapper" class="p-6 bg-gray-100 rounded-lg">
                {{ shop.metafields.shopify_forms[330263] }}
            </div>
        </div>
    </div>
</section>