<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<script src="{{ 'carousels.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="{{ 'carousels.css' | asset_url }}" />

<div class="containercustomright mb-24 lg:mb-36">

    <h1 class="fade-in-text text-grey font-heading font-huge font-bold font-huge uppercase text-6xl mb-12">{{ section.settings.title }}</h1>

    <div class="stretchright flex flex-col items-center">

        <div class="swiper swiper-featured-products">
            <div class="swiper-wrapper">
                {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
                    {% assign shown_colors = '' %}
                    {% for variant in product.variants %}
                        {% assign current_color = variant.options[0] %}
                        {% unless shown_colors contains current_color %}
                            <div class="swiper-slide">
                                {% render 'product-card', 
                                    product_product: product,
                                    current_variant: variant,
                                    current_color: current_color,
                                    include_colour: true %}
                            </div>
                            {% assign shown_colors = shown_colors | append: current_color | append: ',' %}
                        {% endunless %}
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="swiper-featured-products-scrollbar"></div>
        
        </div>

    </div>

</div>

{% schema %}
{
    "name": "Featured - All Colours",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured Collection Colours",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 4,
            "max": 12,
            "default": 4,
            "label": "Number of products to show"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}