<div class="mx-auto py-56 pt-32 lg:py-56 lg:pt-40 sm:px-0 lg:px-8 mb-32 lg:mb-36 bg-black copy-feature-section relative">
    <div class="mb-[500px] containercustom">
        <h1 class="font-heading fade-in-text font-huge text-white mb-12">{{ section.settings.title }}</h1>
        
        {% if section.settings.body != blank %}
            <div class="mb-8 font-light fade-in-container text-white copy lg:w-3/4">
                {{ section.settings.body }}
            </div>
        {% endif %}

    </div>

    {% if section.settings.copy_video != blank %}
        <div class="w-full absolute bottom-5 right-0 copy-video mb-10 mr-10">

            <div class="w-full bg-white block">
            
                <video autoplay muted loop playsinline class="w-full h-[600px] block object-cover">
                    <source src="{{ section.settings.copy_video }}" type="video/mp4">
                    <source src="{{ 'hero.mp4' | asset_url }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>

            </div>
            
        </div>
    {% endif %}
    
</div>

{% schema %}
{
    "name": "Copy Feature Section",
    "presets": [
        {
            "name": "Copy Feature Section"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "H1 Title"
        },
        {
            "type": "richtext",
            "id": "body",
            "default": "Body text",
            "label": "Body Text"
        },
        {
            "type": "video",
            "id": "copy_video",
            "label": "Video"
          }
    ],
}
{% endschema %}