
<div class="mx-auto py-56 pt-32 lg:py-56 lg:pt-40 sm:px-0 lg:px-8 mb-32 lg:mb-36 bg-lightgrey copy-feature-section relative">

    <div class="containercustom">

        <div class="copy lg:w-3/4">
            
            <h1 class="text-grey font-heading font-huge font-bold font-huge uppercase text-6xl mb-12">{{ section.settings.heading }}</h1>

            <p>{{ section.settings.content }}</p>

            <span class="inline-block">
                {% render 'button', text: section.settings.collection.title, url: section.settings.collection.url, btn-style: "white" %}
            </span>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Promotion",
  "presets": [
    {
      "name": "Promotion"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "default": "Content",
      "label": "Content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection Link"
    }, 
  ],
}
{% endschema %}