<div class="mx-auto py-16 px-4 sm:py-64 sm:px-6 lg:px-8 bg-black">
    <h1 class="text-white text-xl">{{ section.settings.title }}</h1>
    
    {% if section.settings.body != blank %}
        <div class="mb-8 font-light copy">
            {{ section.settings.body }}
        </div>
    {% endif %}
    
    
</div>

{% schema %}
{
    "name": "Copy Feature Section",
    "presets": [
        {
            "name": "Copy Feature Section"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "H1 Title"
        },
        {
            "type": "html",
            "id": "body",
            "default": "Body text",
            "label": "Body Text"
        },
    ],
}
{% endschema %}