{% if page.handle == 'our-story' %}
    <div class="mx-auto py-56 pt-32 lg:py-56 lg:pt-40 sm:px-0 lg:px-8 mb-32 lg:mb-36 bg-black copy-feature-section relative">
{% else %}
    <div class="mx-auto py-56 pt-32 lg:pt-40 sm:px-0 lg:px-8 mb-0 lg:mb-0 bg-black copy-feature-section relative">
{% endif %}
    {% if page.handle == 'our-story' %}
        <div class="containercustom">
    {% else %}
        <div class="mb-[700px] containercustom">
    {% endif %}
        <p class="font-heading fade-in-text font-huge text-white mb-12">{{ section.settings.title }}</p>
        
        {% if section.settings.body != blank %}
            <div class="mb-8 font-light fade-in-container text-white copy lg:w-3/4">
                {{ section.settings.body | richtext }}
            </div>
        {% endif %}

    </div>

    {% if page.handle == 'our-story' %}
        <div class="containercustom">
            <div style='position:relative;height:0;padding-bottom:56.25%'><iframe class='sproutvideo-player' src='https://videos.sproutvideo.com/embed/4d91d5b71b1fe4c0c4/807bb03375300efc?playerTheme=dark&amp;playerColor=041448' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen referrerpolicy='no-referrer-when-downgrade' title='Video Player'></iframe></div>
        </div>
    {% endif %}

    {% if section.settings.copy_video != blank and template.name != 'page' and page.handle != 'our-story' %}
        <div class="w-full absolute bottom-5 right-0 copy-video mb-10 mr-10">

            <div class="w-full bg-white block">
            
                <video autoplay muted loop playsinline class="w-full h-[800px] block object-cover">
                    <source src="{{ section.settings.copy_video }}" type="video/mp4">
                    <source src="{{ 'hero.mp4' | asset_url }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>

            </div>
            
        </div>
    {% endif %}
    
</div>

{% schema %}
{
    "name": "Copy Feature Section",
    "presets": [
        {
            "name": "Copy Feature Section"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "H1 Title"
        },
        {
            "type": "richtext",
            "id": "body",
            "default": "<p>Body text</p>",
            "label": "Body Text"
        },
        {
            "type": "video",
            "id": "copy_video",
            "label": "Video"
          }
    ],
}
{% endschema %}