<script src="{{ 'carousels.js' | asset_url }}" defer></script>


<div class="px-4 py-8">
  <a href="{{ routes.collections_url }}" class="text-base text-gray-500 hover:underline text-center block my-4">Go back to collections</a>
  
  
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    
    <h1 class="text-5xl font-heading pb-6 font-semibold text-darkgrey">{{ collection.title }}</h1> 

    <div class="embla">
      <div class="embla__container">
        {% for product in collection.products %}
          <div class="embla__slide">
              {% render 'product-card', product_product: product %}
          </div>
          {% endfor %}
      </div>
  </div>
  
  <button class="embla__prev">Prev</button>
  <button class="embla__next">Next</button>

    {% render 'pagination', pagination: paginate %}

  {% endpaginate %}

</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of products per page"
      }
    ]
  }
{% endschema %}