<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <p>Hero test</p>
</div>

{% schema %}
{
    "name": "Hero",
    "presets": [
        {
            "name": "Hero"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "H2 Title"
        }   
    ],
}
{% endschema %}