<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <p>Hero</p>
</div>

{% schema %}
{
    "name": "Main Hero",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Collections",
            "label": "Title"
        }
    ]
}
{% endschema %}