/* Base Styling */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  width: 100%;
}

.copy {
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 182.353% */
  letter-spacing: 1px;
}

h1 {
  line-height: 4.3rem;
}

#shopify-pc__banner {
  display: none!important;
}

/* Hero Styling */

.hero-container.rounded {
  position: relative;
  border-bottom: 2px white solid;
}

.card a {
  z-index: 20;
}

.card .card-image {
  position: relative;
}


/* Copy Section */

.copy-section {
  position: relative;
}

.copy-video {

}

/* Rounded Corner Styling */

.hero-container.rounded:before,
.copy-section:before {
  content: "";
  background: url('hero-shape.svg') no-repeat bottom right;
  background-size: 340px 294px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 321px;
  height: 285px;
  z-index: 3;
}

.usp-right:before {
  content: "";
  background: url('hero-shape.svg') no-repeat bottom right;
  background-size: 340px 294px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: 40px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.copy-video {
  position: absolute;
}

.copy-video:before {
  content: "";
  background: url('black-shape.svg') no-repeat bottom right;
  background-size: 340px 294px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 321px;
  height: 285px;
  z-index: 2;
}

.card-image:before {
  content: "";
  background: url('card-shape.svg') no-repeat bottom right;
  background-size: 287px 249px;
  display: block;
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 100%;
  height: 100%;
  z-index: 1;
}