/* Fade in text styles */

.fade-in-text {
  opacity: 1; /* Ensure container remains visible */
  display: inline-block;
  white-space: pre-wrap; /* Ensures correct spacing */
}

.fade-in-text span {
  opacity: 0; /* Start hidden */
  transform: translateY(20px);
  display: inline-block;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-text.visible span {
  opacity: 1;
  transform: translateY(0);
}

/* Fade in div styles */

.fade-in-container {
  opacity: 0; /* Start hidden */
  display: block;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-container.visible {
  opacity: 1;
}

/* Base Styling */

.containerwide {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  max-width: 1800px;

  @media screen and (min-width: 1024px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.containersuperwide {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  max-width: 1800px;

  @media screen and (min-width: 1024px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.containerequal {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  max-width: 1600px;

  @media screen and (min-width: 1024px) {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }
}

.containercustom {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  max-width: 1600px;

  @media screen and (min-width: 1024px) {
    padding-right: 2rem;
    padding-left: 4.5rem;
  }
}

.containercustomright {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  max-width: 1600px;

  @media screen and (min-width: 1024px) {
    padding-right: 0rem;
    padding-left: 4.5rem;
  }
}

form-embed {
  margin-bottom: 6rem;

  @media screen and (min-width: 1024px) {
    margin-bottom: 9rem;
    
  }
}

.font-heading {
  font-weight: bold;
}

.font-huge {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-family: normalidad-wide, sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  @media screen and (min-width: 1024px) {
    font-size: 4.1rem;
    line-height: 4.5rem;
  }
}

.font-medium {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: normalidad-wide, sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  @media screen and (min-width: 1024px) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.font-light {
  font-weight: normal;
}

.font-big {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-family: normalidad-wide, sans-serif;
  text-transform: uppercase;
  font-weight: bold;


  @media screen and (min-width: 1024px) {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
}

.js-extra-usp {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.js-extra-usp.show {
  opacity: 1;
}

.js-see-more-btn {

}

/* Copy Section Styling */

.copy {
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 182.353% */
  letter-spacing: 1px;
}

.copy h1 {
  padding-bottom: 10px;
}

.copy h2 {
  color: #39383A;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: normalidad-wide, sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 35px; /* 182.353% */
}

.copy p {
  padding-bottom: 16px;
}

.copy ul {
 list-style: circle;
 list-style-position: inside;
 padding-left: 10px;
 padding-bottom: 35px;
}

.copy strong {
  font-weight: 900;
}

.copy a {
  text-decoration: underline;
}

.copy a:hover {
  color: #8B8B8B;
}

.faq span {
  max-width: 1050px;
}

#shopify-pc__banner {
  display: none!important;
}

.product-description p {
  margin-bottom: 15px;
  line-height: 27px;
  font-size: 0.8rem;
}

.product-description h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'normalidad-wide', sans-serif;
}

.product-description ul {
  margin-bottom: 10px;
  list-style: inside; 
}

._textHeading_2aowh_35 {
  font-family: 'normalidad-wide', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* Hero Styling */

.hero-container.rounded {
  position: relative;
  border-bottom: 2px white solid;
}

.hero-container {
  background-position:center;
  background-size: cover;
  background-color: #000;
}

.hero-video {
  opacity: 0.7;
}

.card a {
  z-index: 20;
}

.card .card-image,
.card .feature-card-image {
  position: relative;
}

/* Card Styles */

.product-card-image {
  object-position: center -10px;
}

@media (min-width: 940px) {
  .product-card-image {
    object-position: center -50px;
  }
}


/* Copy Section */

.copy-feature-section {
  position: relative;
}

/* USPs */

.usp-icons {
  background: url('icon-bg.svg') no-repeat bottom right;
  background-size: 100px;
}

/* Footer Styling */

.footer {
  background: url('bg-patternx2.png') no-repeat center;
  background-size: cover;
}

/* Rounded Corner Styling */

.hero-container.rounded:before,
.copy-section:before {
  content: "";
  background: url('hero-shape.svg') no-repeat bottom right;
  background-size: 200px 173px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 200px;
  height: 173px;
  z-index: 3;

  @media screen and (min-width: 1024px) {
    width: 321px;
    height: 285px;
    background-size: 340px 294px;
  }
}

.usp-right:before {
  content: "";
  background: url('hero-shape.svg') no-repeat bottom right;
  background-size: 340px 294px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.copy-video {
  position: absolute;
}

.copy-video:before {
  content: "";
  background: url('black-shape.svg') no-repeat bottom right;
  background-size: 340px 294px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 321px;
  height: 285px;
  z-index: 2;
}

.card-image:before {
  content: "";
  background: url('card-shape.svg') no-repeat bottom right;
  background-size: 130px 113px;
  display: block;
  position: absolute;
  bottom: 22px;
  right: 24px;
  width: 100%;
  height: 100%;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    width: 100%;
    height: 100%;
    background-size: 287px 249px;
  }
}

.feature-card-image:before {
  content: "";
  background: url('feature-card-shape.svg') no-repeat bottom right;
  background-size: 130px 113px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: -2px;
  width: 100%;
  height: 100%;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    width: 100%;
    height: 100%;
    background-size: 170px 146px;
  }
}

.swiper {
  max-width: 100%;
}

.pdp-image-swiper:before {
  content: "";
  background: url('grey-shape.svg') no-repeat bottom right;
  background-size: 216px 188px;
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 321px;
  height: 285px;
  z-index: 2;
}

.swiper-horizontal>.swiper-scrollbar {
  height: 21px!important;
  position: relative!important;
}

.stretch {
  width: calc(100% + 4rem);
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 1024px) {
    width: calc(100% + 4.5rem);
    left: auto;
    transform: translateX(0%);
  }

  @media screen and (min-width: 1600px) {
    width: calc(100% + ((100vw - 1600px) / 2) + 4.5rem);
  }
}

.stretchright {
  width: 100%;
  left: 50%;

  @media screen and (min-width: 1024px) {
    width: 100%;
    left: auto;
    transform: translateX(0%);
  }

  @media screen and (min-width: 1600px) {
    width: calc(100% + ((100vw - 1600px) / 2));
  }
}

.stretchfull {
  width: calc(100%);
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 1024px) {
    width: calc(100%);
    left: auto;
    transform: translateX(0%);
  }

  @media screen and (min-width: 1600px) {
    width: calc(100% + ((100vw - 1600px) / 2));
  }
}

/* .half-leftstretch {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% + 4.5rem);

  @media screen and (min-width: 1600px) {
    width: calc(100% + ((100vw - 1600px) / 2) + 4.5rem);
  }
} */

/* .full-rightstretch {
  height: 100%;
  width: calc(100% + 4.5rem);

  @media screen and (min-width: 1600px) {
    width: calc(100% + ((100vw - 1600px) / 2) + 4.5rem);
  }
} */


/* 1600 */